:root {
    --main-white: #f3f3f3;
    --main-red: #b63030;
    --main-blue: #42468b;
    --main-gray: #303841;
}
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: sans-serif, 'Poppins';
    
}
html {
    font-size: 70%;
}
body {
    color: var(--main-white);
}
h1, h2 {

    text-align: center;
    font-size: 45px
}
/*NAV*/
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    background-color: var(--main-red);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}
#navbar ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    width: 100%;
    padding: 20px 0px 20px 0;
    font-size: 25px;
}
.nav-link {
    text-decoration: none;
    color: var(--main-white);
    padding: 20px;
    transition: 0.3s;
}
.nav-link:hover {
    background-color: #f8abab;
    color:  #6b6b6b;
}
/*about*/
#welcome-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-gray);
    height: 100vh;
    text-align: center;
}
#welcome-section p {
    text-align: center;
    font-size: 15px;
    font-style: italic;
}
/*PROJECT*/
#projects {
    background-color: var(--main-blue);
    padding: 4rem 15rem 10rem;
}
.project-header {
    text-align: center;
    border-bottom: var(--main-white) solid ;
    max-width: 638px;
    margin: 0 auto 3.5rem;
}
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(318px, 1fr));
    grid-gap: 3rem;
    width: 100%;
    max-width: 1230px;
}
.project-tile {
    background-color: var(--main-gray);
    height: 25rem;
}
.project-tile img {
    height: calc(100% - 4rem);
    width: 100%;
    object-fit: cover;
}
.project-tile p{
    padding: 1.2rem 0.2rem;
    text-align: center;
    font-size: 17px;
}

a {
    text-decoration: none;
    color: var(--main-white);
    
}
.symbol {
    color: var(--main-gray);
    transition: 0.3s;
    font-size: 17px;
}
.project-tile:hover .symbol{
    color: #eeb661;
}
/*CONTACt*/
#contact {
    background-color: var(--main-gray);
    display: flex;
    height: 80vh;
    flex-direction: column;
}
#contact-header {
    padding: 15rem 1rem;
}

#contact-header p{
    font-style: italic;
    font-size: 15px;
    text-align: center;
}
.social-media-section {
    display: flex;
    margin: auto;
    align-items: center;    
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
;
}
.social-media {
    display: flex;
    font-size: 20px;
    padding: 10px;

}
.social-media a:hover{
   transition: 0.5s;
   transform: translateY(5px);
}
footer {
    background-color: var(--main-gray);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    border-top: 5px var(--main-blue) solid;
}
footer p {
    font-size: 15px;
}
@media (max-width:768px) {
    h2 {
        font-size: 33px;
    }
    #navbar ul{
        justify-content: center;
        font-size: 20px;
    }
    #projects {
        padding: 4rem 4rem 10rem;
    }
    
}
@media (max-width: 325px) {
    
    .project-tile {
        width: 17rem;
    }
    footer p {
        font-size: 12px;
    }
    .project-grid {
        width: 60%;
    }
    h2 {
        font-size: 20px;
    }
}